body {
font-family: Arial, sans-serif; background-color: #fff; margin: 40px;
}

h1 {
color: #228222;
}



/* Estilo para el título principal */

h1 {
text-align: center;
border-bottom: 3px solid #FFC000; padding-bottom: 10px;
}


p {
    color: #2c2929;
    text-align: center;
}

a {
    display: inline-block;
    background-color: #228222;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #FFC000;
    color: #228222;
}